@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
  box-shadow: 0 0 0 2px var(--green-500);
  outline: transparent;
}

* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;     
}

body {
  background-image: url('./assets/background.svg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.bg-glass {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.28);
}